<!DOCTYPE html> 
<html lang="es"> 
<head>
    <meta charset="utf-8">
    <title>What Movie</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newstyles.css') }}">
</head>
<body>
    
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">Categorias: 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/horror">Horror</a>
                <a href="/action">Action</a>
                <a href="/scifi">Sci-fi</a>
            </div>
        </div> 
    </div>

    <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
            myDropdown.classList.remove('show');
        }
        }
    }
    </script>      

</body>


</html>